.Standings {
  background-color:#0C4063;
  padding: 4px;

}

.PlayerInfo {


  padding: 2.5%;
  color: aqua;
  display: inline-block;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 2.5%; 
}