.Results{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
}

.IndividualResults {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin: 10px;
}

.multiplier{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.PlayerFinalResults{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


.name {
  font-size: 20px;
}

.points {
  font-size: 30px;
  color: #DFB678;
  margin: 10px;
}

.drinks {
  font-size: 30px;
  color: #DFB678;
}

