.EnterPlayerNameForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.EnterPlayerNameItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
}

input {
  max-width: 50%;
}

.warning{
  color: red;
  font-size: smaller;
}